html[data-mantine-color-scheme="dark"] {
  --page-background: #151515;
}

html[data-mantine-color-scheme="light"] {
  --page-background: #f5f7fa;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--page-background);
}

#app {
  padding: 16px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
}
